<div class="component__inner capaInicial__inner">
    <div class="capa-ini" style="background: url(assets/fundo_capa.png) 100% / cover no-repeat, url({{_graphic.bg}}) lightgray 10vw / cover no-repeat">
        <div class="title-capa">
            <span>{{{displayTitle}}}</span>
        </div>        
    </div>
</div>